/* ForTablet, Laptop, and PC */
body {
    background-color: white;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: thick double black;
}

header h1, .mode-switch {
    margin-top: auto;
    margin-bottom: auto;
    padding: 8px 10px 15px 10px;
}

main {
    display: flex;
    justify-content: space-evenly;
}

#h1 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    height: 350px;
    width: 350px;
    background-image: linear-gradient(yellow, brown);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form {
    width: 50%;
    text-align: center;
    border-left: thick double black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Form CSS Code */
form {
    width: 80%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
  
.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.text-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    height: 150px;
}
  
.submit {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
 
.submit:hover {
    background-color: blue;
}

footer {
    display: flex;
    justify-content: center;
    border-top: thick double black;
}

  /* Designed for Mobile */
@media only screen and (max-width: 768px) {
    body {
        background-color: white;
        color: black;
    }

    #h1 {
        display: none;
    }

    #form {
        width: 100%;
    }

    main #form {
        border: none;
    }

    form {
        width: 100%;
        margin: 0 auto;
      }
}

@media only screen and (min-width: 769px) {
    header .title h1 {
        display: none;
    }

}