/* ForTablet, Laptop, and PC */
body {
    background-color: white;
    color: black;
}

/* Designed for Mobile */
@media only screen and (max-width: 768px) {
    body {
        background-color: red;
        color: white;
    }

    #h1 {
        display: none;
    }

    #form {
        width: 100%;
        border: hidden
    }

    form {
        width: 94%;
        margin: 0 auto;
      }
}